html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	color: #ffffff;
	font-size: 14px;
	font-family: "Gidole", sans-serif;
	background-color: #162831;
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	color: inherit;
	cursor: pointer;
	padding: 9px 15px;
	margin: 0;
	border-radius: 3px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}